<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">

        <div class="row mt-1 mb-2">
            <div class="col-12 mt-1 mb-1">
                <div class="my-closet">
                    <h2>My Support Survey</h2>


                    <div class="home-fields" style="height: 80vh; overflow: auto">
                        <table class="my-table table-striped table-dark">
                            <thead>
                            <tr>
                                <th>ECO SURVEY</th>
                                <th>Opinion</th>
                            </tr>
                            </thead>
                            <tbody>
                                <div class="details-section-container">
                                    <strong>Survey subject: </strong>
                                <p th:text="${surveyRequest.subject}"></p>
                                </div>
                                <div class="details-section-container">
                                    <strong>Survey support: </strong>
                                    <p th:text="${surveyRequest.support}"></p>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; 2025 FriendlyLend. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
